Connected to myenv (Python 3.12.2)

In [1]:
import requests
import json
import pandas as pd
from IPython.display import display

def get_dataframe(url: str):
    r = requests.get(url)
    dataframe = json.loads(r.text)
    return pd.DataFrame(dataframe['results'])

# Dicionário contendo os nomes dos arquivos Excel e suas respectivas URLs
excel_urls = {
    'IDIV': 'https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEyMCwiaW5kZXgiOiJJRElWIiwic2VnbWVudCI6IjEifQ==',
}

def search_and_display_index(index_name: str):
    if index_name in excel_urls:
        url = excel_urls[index_name]
        df = get_dataframe(url)
        # Remover as colunas "segment" e "partAcum"
        df = df.drop(columns=['segment', 'partAcum'])
        # Ordenar o DataFrame pela coluna "part" do maior para o menor
        df_sorted = df.sort_values(by='part', ascending=False)
        # Selecionar apenas as 10 primeiras linhas
        df_top_10 = df_sorted.head(10)
        # Exibir o DataFrame no Jupyter Notebook
        display(df_top_10)
        # Exportar o DataFrame ordenado para um arquivo Excel
        filename = f"{index_name}_top_10_data.xlsx" 
        df_top_10.to_excel(filename, index=False)
        print(f"As 10 primeiras linhas do DataFrame '{index_name}' exportadas com sucesso para o arquivo '{filename}'")
    else:
        print(f"Índice '{index_name}' não encontrado.")

# Chamando a função para exibir o DataFrame 'IDIV' no Jupyter Notebook e exportar para Excel
search_and_display_index('IDIV')

       cod         asset        type   part   theoricalQty
10   CMIG4         CEMIG  PN      N1  5,793  2.157.902.950
21   GGBR4        GERDAU  PN      N1  5,508  1.183.245.262
12   CPLE6         COPEL  PNB     N2  5,427  2.545.307.750
36   PETR4     PETROBRAS  PN      N2  5,388    682.191.496
6    BBAS3        BRASIL  ON      NM  4,761    396.582.449
35   PETR3     PETROBRAS  ON      N2  4,758    590.840.282
4    BBSE3  BBSEGURIDADE  ON      NM  3,758    545.114.447
48   VALE3          VALE  ON      NM  3,729    284.098.114
29  KLBN11    KLABIN S/A  UNT     N2  3,700    709.464.733
26   JBSS3           JBS  ON      NM  3,308    673.468.323

As 10 primeiras linhas do DataFrame 'IDIV' exportadas com sucesso para o arquivo 'IDIV_top_10_data.xlsx'

In [2]:
import requests
import json
import pandas as pd
from IPython.display import display

def get_dataframe(url: str):
    r = requests.get(url)
    dataframe = json.loads(r.text)
    return pd.DataFrame(dataframe['results'])

# Dicionário contendo os nomes dos arquivos Excel e suas respectivas URLs
excel_urls = {
    'IDIV': 'https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEyMCwiaW5kZXgiOiJJRElWIiwic2VnbWVudCI6IjEifQ==',
}

def search_and_display_index(index_name: str):
    if index_name in excel_urls:
        url = excel_urls[index_name]
        df = get_dataframe(url)
        # Remover as colunas "segment" e "partAcum"
        df = df.drop(columns=['segment', 'partAcum'])
        # Ordenar o DataFrame pela coluna "part" do maior para o menor
        df_sorted = df.sort_values(by='part', ascending=False)
        # Selecionar apenas as 10 primeiras linhas
        df_top_10 = df_sorted.head(14)
        # Exibir o DataFrame no Jupyter Notebook
        display(df_top_10)
        # Exportar o DataFrame ordenado para um arquivo Excel
        filename = f"{index_name}_top_10_data.xlsx" 
        df_top_10.to_excel(filename, index=False)
        print(f"As 10 primeiras linhas do DataFrame '{index_name}' exportadas com sucesso para o arquivo '{filename}'")
    else:
        print(f"Índice '{index_name}' não encontrado.")

# Chamando a função para exibir o DataFrame 'IDIV' no Jupyter Notebook e exportar para Excel
search_and_display_index('IDIV')

       cod         asset        type   part   theoricalQty
10   CMIG4         CEMIG  PN  EJ  N1  5,754  2.157.902.950
21   GGBR4        GERDAU  PN      N1  5,508  1.183.245.262
12   CPLE6         COPEL  PNB     N2  5,370  2.545.307.750
36   PETR4     PETROBRAS  PN      N2  5,353    682.191.496
6    BBAS3        BRASIL  ON      NM  4,800    396.582.449
35   PETR3     PETROBRAS  ON      N2  4,719    590.840.282
4    BBSE3  BBSEGURIDADE  ON      NM  3,789    545.114.447
29  KLBN11    KLABIN S/A  UNT     N2  3,777    709.464.733
48   VALE3          VALE  ON      NM  3,692    284.098.114
44   VIVT3  TELEF BRASIL          ON  3,290    300.540.563
17   EGIE3  ENGIE BRASIL  ON      NM  3,279    378.173.990
26   JBSS3           JBS  ON      NM  3,263    673.468.323
45   TRPL4  TRAN PAULIST  PN      N1  3,234    599.901.324
40   CSNA3  SID NACIONAL          ON  3,063    910.710.028

As 10 primeiras linhas do DataFrame 'IDIV' exportadas com sucesso para o arquivo 'IDIV_top_10_data.xlsx'

In [3]:
import requests
import json
import pandas as pd
from IPython.display import display

def get_dataframe(url: str):
    r = requests.get(url)
    dataframe = json.loads(r.text)
    return pd.DataFrame(dataframe['results'])

# Dicionário contendo os nomes dos arquivos Excel e suas respectivas URLs
excel_urls = {
    'IDIV': 'https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEyMCwiaW5kZXgiOiJJRElWIiwic2VnbWVudCI6IjEifQ==',
}

def search_and_display_index(index_name: str):
    if index_name in excel_urls:
        url = excel_urls[index_name]
        df = get_dataframe(url)
        # Remover as colunas "segment" e "partAcum"
        df = df.drop(columns=['segment', 'partAcum'])
        # Ordenar o DataFrame pela coluna "part" do maior para o menor
        df_sorted = df.sort_values(by='part', ascending=False)
        # Selecionar apenas as 10 primeiras linhas
        df_top_10 = df_sorted.head(14)
        # Exibir o DataFrame no Jupyter Notebook
        display(df_top_10)
        # Exportar o DataFrame ordenado para um arquivo Excel
        filename = f"{index_name}_top_10_data.xlsx" 
        df_top_10.to_excel(filename, index=False)
        print(f"As 10 primeiras linhas do DataFrame '{index_name}' exportadas com sucesso para o arquivo '{filename}'")
    else:
        print(f"Índice '{index_name}' não encontrado.")

# Chamando a função para exibir o DataFrame 'IDIV' no Jupyter Notebook e exportar para Excel
search_and_display_index('IDIV')

       cod         asset        type   part   theoricalQty
10   CMIG4         CEMIG  PN  EJ  N1  5,754  2.157.902.950
21   GGBR4        GERDAU  PN      N1  5,508  1.183.245.262
12   CPLE6         COPEL  PNB     N2  5,370  2.545.307.750
36   PETR4     PETROBRAS  PN      N2  5,353    682.191.496
6    BBAS3        BRASIL  ON      NM  4,800    396.582.449
35   PETR3     PETROBRAS  ON      N2  4,719    590.840.282
4    BBSE3  BBSEGURIDADE  ON      NM  3,789    545.114.447
29  KLBN11    KLABIN S/A  UNT     N2  3,777    709.464.733
48   VALE3          VALE  ON      NM  3,692    284.098.114
44   VIVT3  TELEF BRASIL          ON  3,290    300.540.563
17   EGIE3  ENGIE BRASIL  ON      NM  3,279    378.173.990
26   JBSS3           JBS  ON      NM  3,263    673.468.323
45   TRPL4  TRAN PAULIST  PN      N1  3,234    599.901.324
40   CSNA3  SID NACIONAL          ON  3,063    910.710.028

As 10 primeiras linhas do DataFrame 'IDIV' exportadas com sucesso para o arquivo 'IDIV_top_10_data.xlsx'

In [4]:
import requests
import json
import pandas as pd
from IPython.display import display

def get_dataframe(url: str):
    r = requests.get(url)
    dataframe = json.loads(r.text)
    return pd.DataFrame(dataframe['results'])

# Dicionário contendo os nomes dos arquivos Excel e suas respectivas URLs
excel_urls = {
    'IDIV': 'https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEyMCwiaW5kZXgiOiJJRElWIiwic2VnbWVudCI6IjEifQ==',
}

def search_and_display_index(index_name: str):
    if index_name in excel_urls:
        url = excel_urls[index_name]
        df = get_dataframe(url)
        # Remover as colunas "segment" e "partAcum"
        df = df.drop(columns=['segment', 'partAcum'])
        # Ordenar o DataFrame pela coluna "part" do maior para o menor
        df_sorted = df.sort_values(by='part', ascending=False)
        # Selecionar apenas as 10 primeiras linhas
        df_top_10 = df_sorted.head(14)
        # Exibir o DataFrame no Jupyter Notebook
        display(df_top_10)
        # Exportar o DataFrame ordenado para um arquivo Excel
        filename = f"{index_name}_top_10_data.xlsx" 
        df_top_10.to_excel(filename, index=False)
        print(f"As 10 primeiras linhas do DataFrame '{index_name}' exportadas com sucesso para o arquivo '{filename}'")
    else:
        print(f"Índice '{index_name}' não encontrado.")

# Chamando a função para exibir o DataFrame 'IDIV' no Jupyter Notebook e exportar para Excel
search_and_display_index('IDIV')

       cod         asset        type   part   theoricalQty
10   CMIG4         CEMIG  PN  EJ  N1  5,754  2.157.902.950
21   GGBR4        GERDAU  PN      N1  5,508  1.183.245.262
12   CPLE6         COPEL  PNB     N2  5,370  2.545.307.750
36   PETR4     PETROBRAS  PN      N2  5,353    682.191.496
6    BBAS3        BRASIL  ON      NM  4,800    396.582.449
35   PETR3     PETROBRAS  ON      N2  4,719    590.840.282
4    BBSE3  BBSEGURIDADE  ON      NM  3,789    545.114.447
29  KLBN11    KLABIN S/A  UNT     N2  3,777    709.464.733
48   VALE3          VALE  ON      NM  3,692    284.098.114
44   VIVT3  TELEF BRASIL          ON  3,290    300.540.563
17   EGIE3  ENGIE BRASIL  ON      NM  3,279    378.173.990
26   JBSS3           JBS  ON      NM  3,263    673.468.323
45   TRPL4  TRAN PAULIST  PN      N1  3,234    599.901.324
40   CSNA3  SID NACIONAL          ON  3,063    910.710.028

As 10 primeiras linhas do DataFrame 'IDIV' exportadas com sucesso para o arquivo 'IDIV_top_10_data.xlsx'

No kernel connected